{% extends 'base.html' %}

{% load tz %}  <!-- Load the tz template tag -->
{% load humanize %}  <!-- Load the humanize template tag for naturaltime -->

{% block content %}
<h2>Track Service Requests</h2>
<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Updated At</th>
        </tr>
    </thead>
    <tbody>
        {% for request in service_requests %}
        <tr>
            <td>{{ request.service_type }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.created_at|timezone:"Asia/Kolkata"|naturaltime }}</td>  <!-- Timezone filter and naturaltime -->
            <td>{{ request.updated_at|timezone:"Asia/Kolkata"|naturaltime }}</td>  <!-- Timezone filter and naturaltime -->
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'account' %}" class="btn btn-secondary">Back</a>
{% endblock %}
